k8senv:
  current_mode_deployment_name: web-canary # required
  current_mode_namespace: default # required
  current_mode_annotation: opsani-current-mode # required
  desired_mode_deployment_name: web-main # required
  desired_mode_namespace: opsani # required 
  desired_mode_annotation: opsani-desired-mode # required
  sleep_delay: 120 # optional,default 120